.business-cases-page {
   padding-left: 20px;
   padding-right: 20px;
   padding-top: 56px;
   padding-bottom: 40px;
   color: $minor-text;
}

.business-cases-page-text {
   margin-bottom: 31px;
   padding-left: 26px;
   padding-right: 27px;
   text-align: center;
}

.business-cases-page-text p {
font-size: 16px;
font-weight: 400;
line-height: 1.4;
letter-spacing: 0em;
}

.business-cases-page-text h2 {

padding-left: 25px;
padding-right: 25px;
margin-top: 16px;
margin-bottom: 24px;
font-size: 32px;
font-weight: 400;
line-height: 1.4;
letter-spacing: 0em;
}

//gallery

.gallery {
  display: grid;
  max-width: 1140px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-auto-rows: 240px;
  grid-gap: 12px;
  justify-content: center;
//   padding: 0;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}

.gallery__item {
  position: relative;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.gallery__image:hover {
  transform: scale(1.03);
}

.gallery__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform var(--animation-duration) var(--timing-function);
}

.gallery__link {
  display: block;
  text-decoration: none;
  height: 100%;
}

.gallery__link:hover {
  cursor: zoom-in;
}

.img-smal {
  width: 20%;
  height: 20%;
}
