.social {
display: flex;
align-items: center;
justify-content: center;
gap: 25px;
margin-bottom: 12px;
}

.social-facebook-twitter {
   width: 35px;
   height: 35px;
   fill: $min-text-color;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 &:hover, &:focus {
      fill: $section-looking-for-bag;
   }  
}
.social-facebook-youtube {
   width: 40px;
   height: 35px;
   fill: $min-text-color;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus {
      fill: $section-looking-for-bag;
   } 
}
.social-facebook-linkedin {
  width: 31px;
  height: 35px;
  fill: $min-text-color;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   &:hover, &:focus {
      fill: $section-looking-for-bag;
   }  
}

//team page

.social-facebook-twitter--team-page {
   width: 35px;
   height: 35px;
   fill: $min-text-color;
   transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
   @media screen and (min-width: 768px) and (max-width: 1359px) {
   width: 25px;
   height: 25px;
   }
 &:hover, &:focus {
      opacity: 0.8;
   }  
}
.social-youtube--team-page {
   width: 40px;
   height: 35px;
   fill: $min-text-color;
   transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
   @media screen and (min-width: 768px) and (max-width: 1359px) {
   width: 30px;
   height: 25px;
   }
    &:hover, &:focus {
      opacity: 0.8;
   } 
}
.social-linkedin--team-page {
  width: 31px;
  height: 35px;
  fill: $min-text-color;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
   @media screen and (min-width: 768px) and (max-width: 1359px) {
   width: 21px;
   height: 25px;
   }
   &:hover, &:focus {
      opacity: 0.8;
   }  
}