$min-text-color: #FFFFFF;
$minor-text:#333333;
$text-form-color: #808080;
$section-looking-for-bag:#28A745;
$min-section-background-color: #F5F5F5;
$application-section-background-color:#F4F4F4;
$blog-section-background-color: #0284D0;
$button-grin-hover-background-color:#2EBF4F;
$button-white-hover-background-color: #F4F4F4;


$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$animation-duration: 250ms;